@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "./tailwind.config.js";

@theme {
  --color-base: #3a3a3a;
  --color-base-content: #fbf1c7;
  --color-purple: #aa6ffc;
  --font-sans: "Public Sans", sans;
  --font-serif: "EB Garamond", serif;
}
