---
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";
import HeaderLink from "./HeaderLink.astro";

const { class: className } = Astro.props;
---

<header class:list={[className, "pt-8"]}>
  <nav
    class="flex gap-x-2 items-center w-full max-w-[768px] mx-auto max-[768px]:p-4"
  >
    <a href="/"><Icon name="la:dharmachakra" class="size-7" /></a>
  </nav>
</header>
